.container {
    border: 1px solid yellow;
}

.buttonsContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: black;
    font-size: large;
    border: 1px solid blue;
}

.architectureContainer {
    height: 500px;
    width: 1000px;
    margin: auto;
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid green;   
}

.button {
    color: #416a59;
    font-size: 30px;
}