.buttonsContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: black;
    font-size: large;
    /* border: 1px solid blue; */
}

.architectureContainer {
    /* height: 500px; */
    /* width: 1000px; */
    margin: auto;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px purple;
}

.button {
    color: purple;
    font-size: 30px;
}