.dropdownMenu {
    position: relative;
}

.dropdownMenu .title {
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rebeccapurple; 
}

.dropdownMenu .icon {
    color: rebeccapurple;
}

.dropdownMenu .dropdownMenuContent {
    display: none;
    width: 100%;
    position: absolute;
    background-color: teal;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    font-weight: 400;
    font-size: 13px;
    border-top-left-radius: 10px;
}

.dropdownMenu .dropdownMenuContent div {
    padding: 6px 12px;
}

.dropdownMenu .dropdownMenuContent div:hover {
    cursor: pointer;
    background-color: rgb(5, 104, 104);
    border-top-left-radius: 10px;
}

.dropdownMenu:hover .dropdownMenuContent {
    display: block;
}

.dropdownMenu:hover {
    cursor: pointer;
}

/* // @media (min-width: 800px) { */
/* //     .dropdownMenu .title { */
/* //         width: 200px; */
/* //     } */
/* // } */

/* // @media (min-width: 1000px) { */
/* //     .dropdownMenu .title { */
/* //         width: 270px; */
/* //     } */
/* // } */