.container {
    height: 200px;
    /* // border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card, .epoch {
    font-weight: 500;
    width: 160px;
    height: 120px;
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: space-evenly;
    /* // align-items: flex-start; */
    /* // border: 1px solid red; */
}

.card h4 {
    font-weight: 400;
    margin: 0;
    padding: 10px 20px;
    text-align: left;
}

.card_container {
    width: 70%;
    /* // border: 1px solid red; */
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly; 
}

.epoch {
    width: 100px;
    /* // border: 1px solid red;   */
}

.buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reset_button {
    color: #6a229b;
    font-size: x-large;
}

.start_button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #6a229b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}