.layer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.buttonsContainer {
    justify-self: flex-start;
}

.button {
    color: teal;
    font-size: 30px;
}